select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type="file"] {
  width: 100%;
}

.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

.App__container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 230px 300px 1fr;
}

.red {
  background-color: red;
  width: 800px;
  height: 400px;
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.blue {
  background-color: blue;
  width: 700px;
  height: 300px;
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.green {
  background-color: green;
  width: 600px;
  height: 200px;
  grid-area: 2/2/3/3;
}
